<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ch.arons.android.gps" android:versionCode="2" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

	<application android:icon="@drawable/icon" android:label="@string/app_name">
	
	    <uses-library android:name="com.google.android.maps" />
	
	
		<activity android:name=".GPSTracActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

        <activity android:name="SettingActivity"
            android:screenOrientation="portrait" android:label="@string/app_name_setting"></activity>

        <activity android:name="GPXFileActivity"
            android:screenOrientation="portrait" android:label="@string/app_name_gpx_file"></activity>
          
        <activity android:name="GPXFileViewActivity"
            android:screenOrientation="portrait" android:label="@string/app_name_gpx_file_view"></activity>
            
	    <activity android:name="GPXFileViewMapActivity"
            android:screenOrientation="portrait" android:label="@string/app_name_gpx_file_view_map"></activity>            
            
                  
		<service android:name="ch.arons.android.gps.services.LowBatteryLocationService"
			android:label="Track Recording Service" 
			android:icon="@drawable/arrow_320"
			android:enabled="true" 
			android:exported="true"
			 />

	</application>

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>